* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  margin: 0 auto;
  margin-top: 20px;
}

.answer {
  font-size: 50px;

  background-color: rosybrown;
  max-width: 370px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.guess,
.submit,
.bottom {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
