* {
   box-sizing: border-box;
}

body {
   margin: 0;
   text-align: center;
   font-family: "Montserrat", sans-serif;
}

.wrapper {
   margin: auto;
   max-width: 430px;
   background-color:gold;
   padding: 20px;
   border: none;
   border-radius: 20px;
  
}

.container  {
  margin: 10px;
  text-align: center;
  word-wrap: break-word;
 
}

.container__title {
   margin-bottom: 0px;
}

.container__btn, .container__input, .container__result {
   margin-top:10px;
   margin-bottom: 0px;
   font-size: 16px;
   border:none;
   border-radius: 8px;
   
}

.container__result {
   font-size: 30px;
   font-weight: 400;
   margin-bottom: 0px;
   padding: 12px;
   width: auto;
}

.container__input{
   text-align: center;
   padding: 8px;
   width: 55%;
}

.container__btn {
   cursor: pointer;
   padding: 10px;
   background-color: hsl(100,100%, 56%);
}

.container__btn:hover {
   background-color: hsl(100, 100%, 73%);
}

.nav {
   max-width: 700px;
   width: 100%;
   display: flex;
   
}

.nav input {
   cursor: pointer;
}