*,
*:before
*:after {
    box-sizing: border-box;
}

:root {
  --primary: #FF6464;
  --secondary: #00A8CC;
  --dark:#21243D;
  --light:#8695A4;
}

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 850px;  
}

header {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-top: 20px;

}

@media screen and (max-width:760px){
  header {
    flex-direction: column-reverse;
    padding: 35px;
  }

  .header__info{
    text-align: center;
  }
  .download-btn{
    align-self: center;
  }

  .view {
    display: none;
  }

  .subhead {
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 760px) {
  .box_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
  }

}
 
 


.header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
}


h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.36;
  color: var(--dark);
}

 p {

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color:var(--dark);

}

.download-btn {
  width: 208px;
  height: 47px;
  border: none; 
  background-color: var(--primary);
  color: #FFFFFF;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;


}


.author__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content:flex-end;

}

nav li {
  list-style: none;
  padding: 40px 30px;

}

nav li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
}

.mid {
  background-color: #EDF7FA;
  margin-top: 20px;
}

.mid_container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.test {
  background-color: #FFFFFF;
  padding: 20px;

}

