* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.todo__content.active__content {
    text-decoration: line-through;
    opacity: 0.8;
    color: white
}


.todo__delete-btn.active__deletebtn {
    background-color: white;
    color: maroon;
} 

.todo__done-btn.active__donebtn{
    background-color: orange;
  
}

.todo__container.active__container {
    background: none;
    background-color: maroon;
  
}








body {
    font-family: "Montserrat", sans-serif; 
    font-size: 28px;

}

button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.todo__title{
    font-weight: 800;
    font-size: 58px;
}

.container {
    max-height: 500px;
    overflow: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    max-width: 450px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.25986078886310904) 0%, rgba(138,143,236,1) 0%, rgba(0,212,255,1) 100%);
}



.todo__container {
    border-radius: 10px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 0fr 0fr;
    padding: 8px;
    margin-bottom: 4px;

    background-color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.25986078886310904) 0%, rgba(132,224,96,1) 0%, rgba(35,185,215,1) 0%, rgba(100,221,134,1) 98%);

    align-items: center;
}



.todo__content {
   width: 100%;
   word-break: break-all;
   text-align: left;
    line-height: 1.2;

}

.todo__txtbox{
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    margin: 16px;
    height: 40px;
    border: none;
    outline: none;
    background-color: aqua;
}



.todo__submit-btn {
    margin-left: -30px;
    border-radius: 6px;
    font-size: 24px; 
    background-color:green;
    color: white;
}

.todo__done-btn{
    border-radius: 10px;
    color: white;
    font-size: 10px;
    background-color:green;
    white-space: nowrap;
    width: 100%;
    padding: 10px;
}


    

.todo__delete-btn {
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-color: maroon;
}
